*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --linear-pink: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    --linear-purple: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    --title-size: 3rem;
    --paragraph-default-size: 1.125rem;
    --paragraph-large-size: 1.25rem;
    --menu-color:#3C354F;
    --title-color:#0B0223;
    --secondary-color:#534C64;
    --paragraph-color:#534C64;
    --footer-default-color: #FFF;
    --footer-secondary-color:rgba(255, 255, 255, 0.60); 
    --button-padding: 21px 40px;
    --button-border: 3rem;
}
body{
    display:flex;
    flex-direction: column;
}

h1{
    font-size: var(--title-size);
    color: var(--title-color);
}

p{
    color:var(--secondary-color);
    font-size: var(--paragraph-default-size);
}

/* Header styles */
.nav-container{
    display:flex;
    justify-content: space-around;
    padding:40px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    display:flex;
    height:100%;
    gap:10px;
}
.logo>img{
    height:fit-content;
    margin-top:7px;
}
.logo>h1{
    font-size: 2.813rem;
}
.single-letter{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav{
    display:flex;
    gap:20px;
}
.menu-first ul{
    list-style-type: none;
    display:flex;
    gap:40px;
    padding:20px 20px 10px;
}
.menu-first ul li a{
    text-decoration: none;
    color: var(--menu-color);
}
.menu-sceond ul{
    list-style-type: none;
    display:flex;
    gap:20px;
    padding:15px 20px 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.menu-sceond ul li a{
    text-decoration: none;
    color: var(--menu-color);
}

/* top banner styles */
.top-banner-container{
    display:flex;
    gap: 25px;
}
.content-main{
    max-width: 900px;
    width: 100%; 
}
.banner-content{
    padding-top:15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/Group\ 14.png');
    background-repeat:no-repeat;
    height:100%;
}
.banner-content h1{
    font-weight:600;
}
.banner-content h2{
    background:var(--linear-purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
}
.banner-content ul{
    list-style-type: none;
    line-height:30px;
    margin-top:20px;
    margin-bottom: 40px;
}
.banner-icons{
    padding-right: 15px;
    position: relative;
    top: 6px;
}
.banner-buttons{
    display: flex;
    gap:25px;
}
.btn-primary{
    padding: var(--button-padding);
    border:none;
    border-radius: var(--button-border);
    background: var(--linear-pink);
    color:var(--footer-default-color);
    font-size: var(--paragraph-large-size);
    font-weight:600;
}
.go-rogue-btn{
    padding: var(--button-padding);
    border:none;
    border-radius: var(--button-border);
    background: #4EC5F7;
    color:var(--footer-default-color);
    font-size: var(--paragraph-large-size);
    font-weight:600;
}
.banner-image>img{
    width:100%;
}


/* Secondary banner section styles >> We are gamer */
.secondary-banner-container{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 25px;
    background:linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 5% 0;
}

.second-banner-content{
    padding-top:5%;
    display: flex;
    flex-direction: column;
    text-align: right;
}
.second-banner-content h1{
    font-weight:600;
    background: var(--linear-purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.second-banner-content p{
    line-height:35px;
}

#secondary-banner-desc{
    padding:30px 0px;
}
.secondary-banner-buttons{
    margin-bottom:30px;
}
.secondary-banner-image {
    position: relative;
    right: 35px;
}
.secondary-banner-image>img{
    width:100%;
}

#our-purpose{
    font-size: 1.5rem;
    font-weight:500;
}
#unleash{
    font-size: 2rem;
    font-weight: 700;
}

/* online games section */
#online-games{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0px;
}
.videos-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top:50px;
    grid-gap: 20px;
    max-width: 1440px;
}
#online-games-title, #online-games-title-description{
    text-align: center;
    margin-bottom:30px;
}
.linear-purple-title{
    background: var(--linear-purple);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#online-games p{
    font-size: var(--paragraph-large-size);
    font-weight:500;
    margin-top:15px;
}

.video-images{
    position: relative;
    overflow: hidden;
}
.video-images>img{
}
.watch-now{
    background: #00000099;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    border: 4px solid #FF42A5;
    border-radius: 16px;
}
.video-images:hover .watch-now {
    opacity: 1;
    cursor: pointer;
}
.watch-now-icon {
    color: white;
    margin-bottom:10px;
}
.watch-now a{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

/* play instantly styles */
#play-instantly {
    display: flex;
    justify-content: center;
}
.play-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    column-gap: 100px;
}
.play-content{
    text-align: right;
    padding:15% 10%;
}
.play-images {
    position:relative;
}
.cat-image {
    position: absolute;
    bottom: 0;
    left: -20%;
}
.play-content-title{
    background: var(--linear-pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.play-content-desc{
    font-weight: 700;
    margin-bottom:30px;
}
.play-content p{
    line-height:30px;
}

/* responsive styles */

@media screen and (max-width: 576px){
    .nav-container, .nav, .menu-first ul{
        flex-direction: column;
        align-items: center;
    }  
    .top-banner-container {
        flex-direction: column-reverse;
        padding:0px 30px;
    }
    .banner-content{
        background-position-x: 90%;
        padding: 15% 0px;
    }
    .secondary-banner-container {
        flex-direction: column-reverse;
    }
    .second-banner-content{
        text-align:center;
    }
    .secondary-banner-image{
        right:0px;
    }
    #online-games{
        padding:10% 0px;
    }
    #online-games p{
        text-align:center;
        padding:20px;
    }
    #online-games-title, #online-games-title-description{
        margin-bottom:30px;
    }
    .videos-grid{
        grid-template-columns: 1fr;
        width: 350px;
        margin-top:20px;
    }
    .video-images{
        display:flex;
        justify-content: center;
    }
    .play-container{
        flex-direction:column;
    }
    .cowboy-image{
        width: 70%;
    }
    .play-images{
        display:flex;
        justify-content: center;
    }
    .cat-image{
        width:30%;
        bottom:-5%;
        left:5%;
    }
    .play-content {
        text-align: center;
    }
    
}

@media screen and (min-width: 576px) and (max-width: 960px){
    .nav-container, .nav, .menu-first ul{
        flex-direction: column;
        align-items: center;
    }
    .top-banner-container {
        flex-direction: column-reverse;
        padding:0px 30px;
    }
    .banner-content{
        background-position-x: 80%;
        padding: 15% 0px;
    }
    .secondary-banner-container {
        flex-direction: column-reverse;
    }
    .second-banner-content{
        text-align:center;
    }
    .secondary-banner-image{
        right:0px;
    }
    #online-games{
        padding:10% 0px;
    }
    #online-games p{
        text-align:center;
        padding:20px;
    }
    #online-games-title, #online-games-title-description{
        margin-bottom:30px;
    }
    .videos-grid{
        grid-template-columns: repeat(2, 1fr);
        width: 720px;
        margin-top:20px;
    }
    .video-images{
        display:flex;
        justify-content: center;
    }
    .play-container{
        flex-direction:column;
    }
    .play-content {
        text-align: center;
    }
    .cowboy-image{
        width: 70%;
    }
    .play-images{
        display:flex;
        justify-content: center;
    }
    .cat-image{
        width:30%;
        bottom:-5%;
        left:5%;
    }
}

